/* White Header logo */
.md-header__button.md-logo img {
    filter: invert(1);
}

/* Redoc dark mode */
[data-md-color-scheme="slate"] redoc h1,
[data-md-color-scheme="slate"] redoc h2,
[data-md-color-scheme="slate"] redoc h3 {
    color: var(--md-primary-bg-color);
}

[data-md-color-scheme=slate] redoc .api-info a {
    color: var(--md-accent-fg-color);
}

[data-md-color-scheme="slate"] redoc .api-content {
    color: var(--md-primary-bg-color);
}

[data-md-color-scheme="slate"] redoc a::before {
    color: var(--md-primary-bg-color);
    filter: invert(1);
}


[data-md-color-scheme="slate"] redoc .menu-content,
[data-md-color-scheme="slate"] redoc .scrollbar-container > div,
[data-md-color-scheme="slate"] redoc label {
    color: var(--md-primary-bg-color);
    background-color: var(--md-default-bg-color);
}

[data-md-color-scheme="slate"] redoc .scrollbar-container > div > a {
    color: var(--md-primary-bg-color);
    background-color: var(--md-primary-fg-color);
    border-top: none;
}

[data-md-color-scheme="slate"] redoc .search-icon path {
    fill: var(--md-primary-bg-color);
}

[data-md-color-scheme=slate] redoc .search-input::placeholder {
    color: var(--md-primary-bg-color);
}

[data-md-color-scheme="slate"] redoc .menu-content [role=menuitem]:hover {
    color: var(--md-primary-bg-color--light);
    background-color: var(--md-primary-fg-color--light);
}

/* Download button */
[data-md-color-scheme=slate] redoc a[download] {
    color: var(--md-accent-fg-color);
    border: 1px solid var(--md-accent-fg-color);
}


/* Body content type */
[data-md-color-scheme="slate"] redoc h5 {
    color: var(--md-primary-bg-color);
    opacity: 0.7;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

[data-md-color-scheme="slate"] redoc h5 span {
    color: var(--md-primary-bg-color);
    opacity: 1;
}
